:root{
    --color-dark: rgb(17, 20, 37);
    --color-dark2: rgb(43, 49, 97);
    --color-dark3: rgb(12, 37, 72);
    --color-white: #fff;
    --color-green: rgb(103,195,80);
    --color-green2: rgb(51,149,26);
    --color-red: rgb(184,40,35);
    --color-red2: rgb(146,22,17);
}

body{
    margin-top: 2rem;
    font-family: 'Kodemono';
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#btn-new-task{
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task{
    width: 20rem;
    border-radius: 1rem;
    margin-left: 6rem;
}

#btn-new-task{
    background-color: var(--color-dark2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

#btn-new-task:hover{
    background-color: var(--color-dark3);
}

#to-do-list{
    display: flex;
    flex-direction: column;
    padding: 0;
}

#to-do-list li{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
}

#btn-edit{
    margin-left: auto;
    margin-right: 1rem;

}

#to-do-list li:hover{
    background-color: var(--color-dark3);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#btn-edit{
    border: none;
    background-color: var(--color-dark2);
    color: var(--color-white);
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#btn-ok{
    border: none;
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: 1rem;
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#btn-ok:hover{
    background-color: var(--color-green2);
}

#li-list-tasks p{
    flex: 1;
    margin-right: 1rem;
}